body {
margin: 0;
font-family: 'Poppins', sans-serif;
background: #000;
color: white;
overflow: hidden;
}

/* ENTRY */
#entry {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: url('entry-bg.jpg') no-repeat center/cover;
}

.entry-btn {
background: #ffb6c1;
padding: 20px 30px;
border-radius: 40px;
font-size: 40px;
border: none;
cursor: pointer;
}

/* BUTTON */
button {
background: #ffb6c1;
border: none;
padding: 32px 35px;
border-radius: 45px;
cursor: pointer;
margin-top: 15px;
font-size: 40px;
animation: heartbeat 1.5s infinite;
    font-family: 'Pacifico', cursive;
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    25% { transform: scale(1.1); }
    50% { transform: scale(1); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
/* MUSIC */
#musicBtn {
position: fixed;
top: 10px;
right: 20px;
z-index: 1000;
}

/* SLIDES */
#main { display: none; }

.slide {
display: none;
height: 100vh;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
padding: 20px;
background-size: cover;
background-position: center;
position: relative;
    font-family: 'Alex Brush', cursive;
    font-size: 30px;

}

.slide.active { display: flex; }

/* BACKGROUNDS */
.hero-slide { background-image: url('bg1.jpg'); }
.events-slide { background-image: url('bg3.jpg'); }
.journey-slide { background-image: url('bg4.jpg'); }
.venue-slide { background-image: url('bg5.jpg'); }
.final-slide { background-image: url('bg6.png'); }

/* VIDEO BACKGROUND */
.bg-video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
}

/* COUPLE */
.couple-grid {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 40px;
}

.person img {
width: 250px;
height: 250px;
border-radius: 50%;
object-fit: cover;
}

/* EVENTS */
.event-row {
display: flex;
gap: 30px;
align-items: center;
margin: 30px;
}

.event-row img {
width: 300px;
border-radius: 20px;
}

.event-row.reverse {
flex-direction: row-reverse;
}

/* JOURNEY */
.journey-container {
display: flex;
align-items: center;
gap: 60px;
}

video {
width: 400px;
border-radius: 20px;
}

/* MAP */
iframe {
width: 90%;
height: 300px;
border-radius: 20px;
}